.container {
  margin-top: 2rem;
  max-width: 1200px;
  margin: 2rem auto 0 auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  border: 2px solid #e3f2fd;
  padding: 1rem;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #374151;
  margin-top: 20px;
  text-align: left;
  margin-left: 2.7rem;
  margin-bottom: 1rem;
}

.tree {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}